.container {
    background: lightgreen;
    width: 600px;
    height: 150px;
}
.yellow-boxes {
    display: inline-block;
    margin: 10px;
    background: yellow;
    width: 100px;
    height: 100px;
}
.inline-block {
    background: blue;
    width: 100px;
    height: 100px;
    margin: 4px;
    display: inline-block;
}
.relative {
    position: relative;
    top: 40px;
}
.text
 {
    width: 500px;
    margin-top: 50px;
 }
 .fixed {
    position: fixed;
    top: 390px;
    width: 300px;
    padding: 10px 20px;
    background: greenyellow;
 }
 .small-square {
    position: absolute;
    right: 0;
    height: 80px;
    width: 80px;
    background-color: yellow;
 }
 .medium-square {
    height: 200px;
    width: 300px;
    background-color: red;
 }
 .big-square {
    height: 400px;
    width: 400px;
    position: relative;
    background-color: lightblue;
 }
 .sticky {
    position: sticky;
    top: 30px;
    padding: 5px;
    background-color: yellow;
    border: 2px solid blue;

 }
 p.content {
    width: 100vh;
    height: 500px;
 }
 .kotak {
  width: 200px;
  padding: 20px;
  border: 5px solid #000;
  box-sizing: border-box;
}
