h1 {
  text-shadow: 
    2px 2px 0 red,
    -2px -2px 0 blue;
    text-align: center;

}
h1::before {
  content: " "; /* muncul sebelum teks */
}

h1::after {
  content: " ⚡"; /* muncul setelah teks */
}


h1::first-letter {
  font-size: 2em;
  color: red;
}
h1::selection {
  background: yellow;
  color: black;
}
html {
  font-size: 16px; /* root */
}
h1 {
  font-size: 2rem; /* 32px */
}
p {
  font-size: 1rem; /* 16px */
}
.inipe {
  font-size: 20px;
  font-weight: 500;
}

