h1 {
    font-size: 48px;
}
h2 {
    font-size: 24px;
}
.box {
    width: 100%;
    height: 200px;
    background-color: lightgray;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
}
@media screen and (max-width: 600px) {
    body {
       background-color: lightblue;
    }
    .box {
        background-color: lightcoral;
    }
    
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        background-color: lightgreen;
    }
    .box {
        background-color: lightgoldenrodyellow;
    }
}