/* ini setting awal dari semua halaman css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0E3CA;
  color: #333;
  line-height: 1.6;
}
/* ini setting nav bar */
.nav {
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  background: #FF8303;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  z-index: 1000;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  height: 60px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
/* ini setting buat link nav */
.nav-links {
  display: flex;
  gap: 100px;
  list-style: none;
}
.nav-links a {
  color: #1B1A17;
  text-decoration: none;
  padding: 6px 0;
  position: relative;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 0;
  background: #35424a;
  transition: width 0.25s ease;
}
.nav-links a:hover::after {
  width: 100%;
}
/* sekarang bagian hero */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 20px;
  position: relative;
  font-style: italic;
  color: #222;
}

.hero h1::before,
.hero h1::after {
  font-size: 60px;
  color: #888;
  font-weight: bold;
  position: relative;
}

.hero h1::before {
  content: "“";
  margin-right: 10px;
}

.hero h1::after {
  content: "”";
  margin-left: 10px;
}

.hero p {
  font-size: 20px;
  color: #555;
}


